.profit {
  padding: 2rem;
  height: 100vh;
  // display: flex;
  // flex-wrap: wrap-reverse;
  // justify-content: space-between;
  &-inputs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-auto-flow: dense;
    gap: 20px;
  }
  &-outputs {
    // width: 20%;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .card {
    position: relative;
    width: 11.875em;
    min-height: auto;
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.1);
    transition: all 120ms;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #fff;
    padding: 0.5em;
    padding-bottom: 1em;
  }

  .card::after {
    content: "Add to Cart";
    padding-top: 1.25em;
    padding-left: 1.25em;
    position: absolute;
    left: 0;
    bottom: -60px;
    background: #00ac7c;
    color: #fff;
    height: 2.5em;
    width: 90%;
    transition: all 80ms;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0;
  }

  .card .title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    // position: absolute;
    // left: 0.625em;
    // bottom: 1.875em;
    font-weight: 400;
    color: #000;
    margin-top: 0.5rem;

  }

  .card .price {
    padding: 0.2rem 0;
    width: 100%;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 0.9em;
    color: #000;
  }

  .image {
    background: rgb(241, 241, 241);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
  }
}
